<!DOCTYPE html>
<html>
<head>
	<title>This is awesome</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
	#txtarea{
		height: 400px;
		width: 100%;
		background-color: #9966CC !important;
		color: white;
		border-width: 2px;
	}

	body {
    	background-image: url("ing3.jpg");
	}

	.red .active a,
	.red .active a:hover {
    	background-color: red;
	}

	.entry{
		border: 1px solid;
		border-radius: 5px;
		margin-top: 30px;
		padding: 10px;
	}
</style>
</head>
<body>

<nav class="navbar navbar-inverse">

		<form id="lout" method="POST" action="/logout">
			<input type="hidden" name="name">
		</form>

		<form id="viewall" method="POST" action="/viewall">
			<input type="hidden" name="name">
		</form>

		<form id="new" method="GET" action="/login">
			<input type="hidden" name="name">
		</form>

		<form id="help" method="POST" action="/help">
			<input type="hidden" name="name">
		</form>

		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
		    	</button>
				<a href="#" class="navbar-brand">JUSTWRITE</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a onclick="document.getElementById('new').submit()">New</a></li>
					<li class="active"><a onclick="document.getElementById('viewall').submit()">View all</a></li>
					<li><a>Category</a></li>
					<li><a onclick="document.getElementById('help').submit()">Help</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" onclick="document.getElementById('lout').submit()">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container fluid">
	<div class="row">
		<div class="col-sm-2">
		<!--
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Old Stories</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>2<sup>nd</sup>Jan 2017</td></tr>
					<tr><td>3<sup>rd</sup>Jan 2017</td></tr>
					<tr><td>4<sup>th</sup>Jan 2017</td></tr>
				</tbody>
			</table>
		-->
		</div>
		
		<div class="col-sm-8">
			<% for(var i=0; i<dia.length; i++){%>
   			<div class="entry">
   			<table>
   				<tr><td><%= dia[i].date %></td></tr>
   				<tr><td><p><%= dia[i].diary_entry %></p></td></tr>
   				<tr style="display: inline;">
   					<td><input type="submit" name="name" value="Delete" class="btn btn-danger"></td>
   					<td style="padding-left: 10px"><input type="submit" name="name" value="Edit" class="btn btn-success"></td>
   				</tr>
   			</table>
   			</div><% } %>
		</div>
		<div class="col-sm-2">
			
		</div>
	</div>
</div>
</body>
</html>